<!DOCTYPE html>

<html lang="en" data-site="landing" data-theme="dark">

    <head>

        <link rel="shortcut icon" href="/static/assets/ico/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home | Foreversmile Dental Clinic</title>
        <link rel="stylesheet" href="/static/styles/index.css">
        <meta charset="UTF-8">

    </head>

    <body>

        <header>

            <h2>Foreversmile<span class="accent">.</span></h2>

            <div class="cta">

                <nav>

                    <a href="javascript:void(0)">Home</a>
                    <a href="javascript:void(0)">
                        Services
                        <i class="fa-solid fa-angle-down"></i>
                    </a>
                    <a href="javascript:void(0)">About</a>
                    <a href="javascript:void(0)">Testimonials</a>
                    <a href="javascript:void(0)">Contact</a>

                </nav>

                <div class="actions">

                    <i style="display: none;" class="fa-duotone fa-bars-sort fa-flip-horizontal"></i>
                    <i class="fa-duotone fa-sun"></i>    

                </div>

            </div>

        </header>

        <script type="module" src="/static/scripts/clients/landing.js"></script>

    </body>

</html>