<!DOCTYPE html>

<html lang="en" data-site="landing" data-theme="dark">

    <head>

        <link rel="shortcut icon" href="/static/assets/ico/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home | Foreversmile Dental Clinic</title>
        <link rel="stylesheet" href="/static/styles/index.css">
        <meta charset="UTF-8">

    </head>

    <body>

        <header>

            <h2>Foreversmile<span class="accent">.</span></h2>

            <div class="cta">

                <nav>

                    <a href="javascript:void(0);">Home</a>
                    <a href="javascript:void(0);">
                        Services
                        <i class="fa-solid fa-angle-down"></i>
                    </a>
                    <a href="javascript:void(0);">About</a>
                    <a href="javascript:void(0);">Testimonials</a>
                    <a href="javascript:void(0);">Contact</a>

                </nav>

                <i class="fa-duotone fa-sun"></i>

            </div>

        </header>

        <section class="hero">
        
            <div class="container">
            
                <div class="headline">

                    <div class="text">

                        <div class="hours">

                            <i class="fa-regular fa-clock"></i>
                            <label for="hours">
                                Clinic Hours: 10:00am to 5:00pm
                                <span id="hours-status">OPEN</span>
                            </label>
    
                        </div>

                        <h1>Discover the power of a confident smile<span class="accent">.</span></h1>
                        <h2>Unparalleled dental care tailored to your needs for a lasting, beautiful smile</h2>

                    </div>

                    <div class="info">

                        <div class="location">

                            <i class="fa-regular fa-location-dot"></i>
                            <label for="location">
                                Block 23 Lot 22 Karangalan Dr., Karangalan Gate 2, Brgy. San Isidro, Cainta, Rizal
                            </label>

                        </div>

                        <div class="email">

                            <i class="fa-regular fa-envelope"></i>
                            <label for="email">fsmiledental@gmail.com</label>
    
                        </div>

                        <div class="number">

                            <i class="fa-regular fa-phone"></i>
                            <label for="number">+63 (997) 734 0462</label>
    
                        </div>

                    </div>

                    <div class="cta">

                        <button>
                            Book an appointment
                            <i class="fa-solid fa-long-arrow-right"></i>
                        </button>
                        <a href="javascript:void(0)">Contact us</a>

                    </div>

                </div>

                <div class="readMore">

                    <div class="container">

                        <label for="readMore">Read more</label> 
                        <i class="fa-duotone fa-angles-down"></i>

                    </div>

                </div>

            </div>

        </section>

        <section class="services">

            <div class="headline">

                <div class="heading">

                    <h2>Services based on your needs<span class="accent">.</span></h2>
                    <h3>Tailored Dental solutions designed just for you</h3>

                </div>

                <p>
                    These services cover a range of essential dental needs, from preventive 
                    care to cosmetic enhancements and emergency treatments. Our skilled 
                    team of dental professionals is dedicated to providing exceptional care 
                    and achieving optimal outcomes for every patient we serve.
                </p>

            </div>

            <div class="offers">

                <div class="offer">

                    <div class="headline">

                        <h4>Dental Surgery</h4>
                        <h5>Extraction & General Surgery</h5>

                    </div>

                    <h5>
                        <i class="fa-regular fa-circle-dollar"></i>
                        PHP 600+
                    </h5>

                    <p>
                        Experience the transformative power of dental surgery. Our skilled dental 
                        professionals are equipped to perform advanced procedures tailored to address 
                        your unique dental needs. Whether it's tooth extractions, dental implant 
                        placement, or corrective jaw surgery, our goal is to provide you with 
                        comprehensive care that enhances your oral health and rejuvenates your smile. 
                        With our expertise and state-of-the-art techniques, you can trust us to 
                        deliver exceptional results and help you regain your confidence in no time.
                    </p>

                    <button>
                        Learn more
                        <i class="fa-solid fa-long-arrow-right"></i>
                    </button>

                </div>

                <div class="offer">

                    <div class="headline">

                        <h4>Restorative Dentistry</h4>
                        <h5>Restoration</h5>

                    </div>

                    <h5>
                        <i class="fa-regular fa-circle-dollar"></i>
                        PHP 600
                    </h5>

                    <p>
                        Rediscover the joy of a healthy, beautiful smile through the art of restorative 
                        dentistry. Our team of dedicated professionals is committed to restoring the 
                        function, strength, and aesthetics of your teeth. From innovative fillings 
                        and exquisite dental crowns to precise inlays, onlays, and dental bridges, 
                        we use the latest techniques and materials to seamlessly repair and revitalize 
                        your smile. Let us help you regain the ability to chew comfortably, speak with 
                        clarity, and showcase a smile that radiates confidence.
                    </p>

                    <button>
                        Learn more
                        <i class="fa-solid fa-long-arrow-right"></i>
                    </button>

                </div>

                <div class="offer">

                    <div class="headline">

                        <h4>Preventive Dentistry</h4>
                        <h5>Oral prophylaxis</h5>

                    </div>

                    <h5>
                        <i class="fa-regular fa-circle-dollar"></i>
                        PHP 600
                    </h5>

                    <p>
                        Advanced tooth replacement option using dental implants, providing a durable and 
                        natural-looking solution for missing teeth and restoring your smile.
                    </p>

                    <button>
                        Learn more
                        <i class="fa-solid fa-long-arrow-right"></i>
                    </button>

                </div>

                <div class="offer">

                    <div class="headline">

                        <h4>Cosmetic Dentistry</h4>
                        <h5>Composite veneers, Whitening & Dentures</h5>

                    </div>

                    <h5>
                        <i class="fa-regular fa-circle-dollar"></i>
                        PHP 1999+
                    </h5>

                    <p>
                        Straightening misaligned teeth and correcting bite issues through orthodontic 
                        treatments like braces, clear aligners, and retainers, resulting in a 
                        straighter and more aligned smile.
                    </p>

                    <button>
                        Learn more
                        <i class="fa-solid fa-long-arrow-right"></i>
                    </button>

                </div>

                <div class="offer">

                    <div class="headline">

                        <h4>Endodontics</h4>
                        <h5>Root canal</h5>

                    </div>

                    <h5>
                        <i class="fa-regular fa-circle-dollar"></i>
                        PHP 4999
                    </h5>

                    <p>
                        Repairing and restoring damaged or decayed teeth with treatments such as 
                        dental fillings, crowns, and bridges, enhancing both the function and 
                        appearance of your teeth.
                    </p>

                    <button>
                        Learn more
                        <i class="fa-solid fa-long-arrow-right"></i>
                    </button>

                </div>

                <div class="offer">

                    <div class="headline">

                        <h4>Orthodontics</h4>
                        <h5>Braces</h5>

                    </div>

                    <h5>
                        <i class="fa-regular fa-circle-dollar"></i>
                        PHP 4999 (down-payment)
                    </h5>

                    <p>
                        Prompt attention and treatment for dental emergencies, addressing urgent 
                        issues like severe toothaches, broken teeth, or other dental traumas to 
                        alleviate pain and prevent further damage.
                    </p>

                    <button>
                        Learn more
                        <i class="fa-solid fa-long-arrow-right"></i>
                    </button>

                </div>

            </div>

        </section>

        <section class="about">

            <div class="container">

                <div class="headline">

                    <h2>Get to know more about us<span class="accent">.</span></h2>
                    <h3>Discover our commitment to exceptional dental care and patient satisfaction</h3>

                </div>

                <button>
                    Learn more about our company
                    <i class="fa-solid fa-long-arrow-right"></i>
                </button>
                
            </div>

        </section>

        <script type="module" src="/static/scripts/clients/landing.js"></script>

    </body>

</html>