<!DOCTYPE html>

<html lang="en" data-site="landing" data-theme="dark">

    <head>

        <link rel="shortcut icon" href="/static/assets/ico/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home | Foreversmile Dental Clinic</title>
        <link rel="stylesheet" href="/static/styles/index.css">
        <meta charset="UTF-8">

    </head>

    <body>

        <header>

            <h2>Foreversmile<span class="accent">.</span></h2>

            <div class="actions">

                <nav>

                    <a href="javascript:void(0)">Home</a>
                    <a href="javascript:void(0)">Services <i class="fa-solid fa-angle-down"></i></a>
                    <a href="javascript:void(0)">About</a>
                    <a href="javascript:void(0)">Testimonials</a>
                    <a href="javascript:void(0)">Contact</a>

                </nav>

                <i class="fa-duotone fa-sun"></i>

            </div>

        </header>

        <div class="hero">

            <div class="container">

                <div class="headline">

                    <div class="text">

                        <h1>Discover the power of a confident smile<span class="accent">.</span></h1>

                        <h2>
                            Unparalleled dental care tailored to your needs for a lasting,
                            beautiful smile
                        </h2>

                    </div>
                    <div class="cta">
                        <button>
                            Learn more
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </button>
                        <a href="javascript:void(0)">Contact us</a>
                    </div>

                </div>

            </div>

            <div class="info">
                
                <div class="location">
                    <i class="fa-duotone fa-location-dot"></i>
                    <h4>Block 23 Lot 22 Karangalan Dr., Karangalan Gate 2, Brgy. San Isidro, Cainta, Rizal</h4>
                </div>
                <div class="email">
                    <i class="fa-duotone fa-envelope"></i>
                    <h4>fsmiledental@gmail.com</h4>
                </div>
                <div class="phone">
                    <i class="fa-duotone fa-mobile"></i>
                    <h4>+63 (997) 734 0462</h4>
                </div>
                <div class="hours">
                    <i class="fa-duotone fa-clock"></i>
                    <h4>Clinic Hours: 10:00am (10:00) to 5:00pm (17:00)</h4>
                </div>

            </div>

        </div>

        <script type="module" src="/static/scripts/clients/landing.js"></script>

    </body>

</html>