@mixin button-style {

    background-color: transparent;
    border-radius: 4px;
    align-items: center;
    font-weight: 500;
    transition: 0.2s ease;
    font-size: 12px;
    display: flex;
    padding: 12px 32px 12px 32px;
    border: 2px solid var(--bg-primary);
    color: var(--bg-primary);
    gap: 8px;

    &:hover {

        background-color: var(--bg-primary);
        cursor: pointer;
        color: var(--accent);

    }

}