html[data-theme="light"] {

    // ? Light mode variables

    --bg-primary: #e5e5e5;
    --bg-secondary: #dddddd;

    --tg-primary: #222222;
    --tg-secondary: #666666;
    
    --accent: #79c557;

}

html[data-theme="dark"] {

    // ? Dark mode variables

    --bg-primary: #111111;
    --bg-secondary: #151515;

    --tg-primary: #e5e5e5;
    --tg-secondary: #aaaaaa;
    
    --accent: #79c557;

}

.accent { color: var(--accent); }