html[data-site="landing"] {

    & > body {
 
        background-color: var(--bg-secondary);
        overflow-x: hidden;

        & > header {

            background-color: transparent;
            justify-content: space-between;
            position: fixed;
            padding: 32px 12vw;
            display: flex;
            width: 100%;
            
            & > h2 {

                font-weight: 700;
                font-size: 24px;
                color: var(--tg-primary);

            }

            & > .cta {

                align-items: center;
                display: flex;
                gap: 32px;

                & > nav {

                    display: flex;
                    gap: 16px;

                    & > a {

                        text-decoration: none;
                        align-items: center;
                        transition: 0.2s ease;
                        font-size: 14px;
                        display: flex;
                        color: var(--tg-primary);
                        gap: 8px;

                        &:hover {

                            color: var(--accent);

                        }

                        & > i {

                            font-size: 12px;

                        }

                    }

                }

                & > i {

                    transition: 0.2s ease;
                    font-size: 24px;
                    color: var(--tg-primary);

                    &:hover {

                        cursor: pointer;
                        color: var(--accent);

                    }

                }

            }

        }

        & > .hero {

            background-image: url('/static/assets/webp/landing_hero_bg.webp');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
            width: 100vw;

            & > .container {

                grid-template-columns: 100%;
                grid-template-rows: 12vh 2fr auto;
                background-color: rgba($color: var(--bg-primary-rgb), $alpha: var(--bg-opacity));
                flex-direction: column;
                padding: 0 12vw;
                display: grid;
                height: 100%;
                width: 100vw;

                & > .headline {

                    justify-content: center;
                    flex-direction: column;
                    grid-row: 2;
                    display: flex;
                    gap: 32px;

                    & > .text {

                        flex-direction: column;
                        display: flex;

                        & > div {

                            align-items: center;
                            display: flex;
                            gap: 8px;
        
                            & > i {
        
                                color: var(--accent);
        
                            }
        
                            & > label {
        
                                font-weight: 300;
                                font-size: 12px;
                                color: var(--tg-primary);
        
                            }
    
                        }

                        & > h1 {

                            font-size: 32px;
                            color: var(--tg-primary);

                        }

                        & > h2 {

                            font-weight: 500;
                            font-size: 16px;
                            color: var(--tg-primary);

                        }

                    }

                    & > .info {

                        flex-direction: column;
                        display: flex;
                        gap: 8px;

                        & > div {

                            align-items: center;
                            display: flex;
                            gap: 8px;

                            & > i {

                                color: var(--accent);

                            }

                            & > label {
    
                                font-size: 12px;
                                color: var(--tg-primary);
        
                            }

                        }

                    }

                    & > .cta {

                        align-items: center;
                        display: flex;
                        gap: 16px;

                        & > button {

                            @include button-style;
                            border: 2px solid var(--tg-primary);
                            color: var(--tg-primary);

                            &:hover {

                                background-color: var(--tg-primary);

                            }

                        }

                        & > a {

                            text-decoration: none;
                            transition: 0.2s ease;
                            font-size: 12px;
                            color: var(--tg-primary);

                            &:hover {

                                color: var(--accent);
                                
                            }

                        }

                    }

                }

                & > .readMore {

                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    grid-row: 3;
                    padding: 32px 12vw;
                    display: flex;
                    gap: 8px;

                    & > .container {

                        flex-direction: column;
                        align-items: center;
                        display: flex;
                        gap: 8px;

                        & > label {

                            transition: 0.2s ease;
                            font-size: 12px;
                            color: var(--tg-primary);

                        }

                        & > i {

                            transition: 0.2s ease;
                            font-size: 16px;
                            color: var(--tg-primary);

                        }

                        &:hover {

                            & > label, & > i {

                                cursor: pointer;
                                color: var(--accent);

                            }
                        
                        }

                    }

                } 

            }

        }

        & > .services {

            flex-direction: column;
            padding: 8vh 12vw;
            display: flex;
            gap: 8vh;

            & > .headline {

                flex-direction: column;
                display: flex;
                gap: 4vh;

                & > .heading {

                    & > h2 {

                        font-weight: 700;
                        font-size: 24px;
                        color: var(--tg-primary);

                    }

                    & > h3 {

                        font-weight: 500;
                        font-size: 16px;
                        color: var(--tg-primary);

                    }

                }

                & > p {

                    font-weight: 400;
                    text-align: justify;
                    font-size: 14px;
                    color: var(--tg-secondary);

                }

            }

            & > .offers {

                grid-template-columns: repeat(3, 1fr);
                display: grid;
                gap: 64px;

                & > .offer {

                    flex-direction: column;
                    min-width: 0;
                    display: flex;
                    gap: 32px;

                    & > .headline {

                        & > h4 {

                            font-weight: 500;
                            font-size: 16px;
                            color: var(--tg-primary);

                        }

                        & > h5 {

                            font-weight: 300;
                            font-size: 12px;
                            color: var(--tg-primary);

                        }

                    }

                    & > h5 {

                        font-weight: 300;
                        align-items: center;
                        font-size: 12px;
                        display: flex;
                        color: var(--tg-primary);
                        gap: 8px;

                        & > i {

                            font-size: 16px;
                            color: var(--accent);

                        }

                    }

                    & > p {

                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        font-weight: 400;
                        font-size: 14px;
                        color: var(--tg-secondary);

                    }

                    & > button {

                        @include button-style;
                        border: 2px solid var(--tg-primary);
                        align-self: flex-start;
                        color: var(--tg-primary);

                        &:hover {

                            background-color: var(--tg-primary);

                        }

                    }
                    
                }

            }

        }

    }

}