html[data-site="landing"] {

    & > body {
 
        background-color: var(--bg-secondary);

        & > header {

            justify-content: space-between;
            position: fixed;
            display: flex;
            padding: 32px 128px 32px 128px;
            width: 100%;

            h2 {

                color: #EEEEEE;

            }

            & > .actions {

                align-items: center;
                display: flex;
                gap: 64px;

                & > nav {

                    display: flex;
                    gap: 32px;

                    & > a {

                        align-items: center;
                        display: flex;
                        gap: 8px;

                        & > i {

                            font-size: 12px;

                        }

                    }

                }

                & > i {

                    font-size: 20px;
                    transition: 0.2s ease;
                    color: #EEEEEE;

                    &:hover {

                        cursor: pointer;
                        color: var(--accent);

                    }

                }

            }

        }

        & > .hero {

            background-image: url('/static/assets/webp/landing_hero_bg.webp');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 92vh;
            width: 100vw;

            & > .container {

                background-color: rgba($color: #000000, $alpha: 0.7);
                align-content: center;
                padding: 0px 128px 0px 128px;
                display: grid;
                height: inherit;
                width: 100vw;

                & > .headline {
                    
                    flex-direction: column;
                    display: flex;
                    gap: 32px;

                    & > .cta {

                        align-items: center;
                        display: flex;
                        gap: 16px;

                        & > button {

                            align-items: center;
                            display: flex;
                            gap: 8px;

                        }

                        & > a { 
                        
                            font-size: 12px; 
                        
                        }

                    }

                }

            }

            & > .info {

                justify-content: center;
                background-color: #131313;
                align-items: center;
                display: flex;
                padding: 0px 128px 0px 128px;
                height: 8vh;
                gap: 64px;

                & > i {

                    font-size: 16px;
                    color: var(--accent);

                }

                & > div {

                    align-items: center;
                    display: flex;
                    gap: 8px;

                    & > i {

                        font-size: 16px;
                        color: var(--accent);

                    }   

                }

            }

        }

    }

}