@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("/static/styles/icons/css/all.min.css");
html[data-theme=light] {
  --bg-opacity: 0.7;
  --bg-primary: #e5e5e5;
  --bg-secondary: #dddddd;
  --bg-primary-rgb: 221, 221, 221;
  --tg-primary: #222222;
  --tg-secondary: #666666;
  --accent: #2e802e;
}

html[data-theme=dark] {
  --bg-opacity: 0.7;
  --bg-primary: #111111;
  --bg-secondary: #151515;
  --bg-primary-rgb: 17, 17, 17;
  --tg-primary: #e5e5e5;
  --tg-secondary: #aaaaaa;
  --accent: #2e802e;
}

.accent {
  color: var(--accent);
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html[data-site=landing] > body {
  background-color: var(--bg-secondary);
  overflow-x: hidden;
}
html[data-site=landing] > body > header {
  background-color: transparent;
  justify-content: space-between;
  position: fixed;
  padding: 32px 12vw;
  display: flex;
  width: 100%;
}
html[data-site=landing] > body > header > h2 {
  font-weight: 700;
  font-size: 24px;
  color: var(--tg-primary);
}
html[data-site=landing] > body > header > .cta {
  align-items: center;
  display: flex;
  gap: 32px;
}
html[data-site=landing] > body > header > .cta > nav {
  display: flex;
  gap: 16px;
}
html[data-site=landing] > body > header > .cta > nav > a {
  text-decoration: none;
  align-items: center;
  transition: 0.2s ease;
  font-size: 14px;
  display: flex;
  color: var(--tg-primary);
  gap: 8px;
}
html[data-site=landing] > body > header > .cta > nav > a:hover {
  color: var(--accent);
}
html[data-site=landing] > body > header > .cta > nav > a > i {
  font-size: 12px;
}
html[data-site=landing] > body > header > .cta > i {
  transition: 0.2s ease;
  font-size: 24px;
  color: var(--tg-primary);
}
html[data-site=landing] > body > header > .cta > i:hover {
  cursor: pointer;
  color: var(--accent);
}
html[data-site=landing] > body > .hero {
  background-image: url("/static/assets/webp/landing_hero_bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
html[data-site=landing] > body > .hero > .container {
  grid-template-columns: 100%;
  grid-template-rows: 12vh 2fr auto;
  background-color: rgba(var(--bg-primary-rgb), var(--bg-opacity));
  flex-direction: column;
  padding: 0 12vw;
  display: grid;
  height: 100%;
  width: 100vw;
}
html[data-site=landing] > body > .hero > .container > .headline {
  justify-content: center;
  flex-direction: column;
  grid-row: 2;
  display: flex;
  gap: 32px;
}
html[data-site=landing] > body > .hero > .container > .headline > .text {
  flex-direction: column;
  display: flex;
}
html[data-site=landing] > body > .hero > .container > .headline > .text > div {
  align-items: center;
  display: flex;
  gap: 8px;
}
html[data-site=landing] > body > .hero > .container > .headline > .text > div > i {
  color: var(--accent);
}
html[data-site=landing] > body > .hero > .container > .headline > .text > div > label {
  font-weight: 300;
  font-size: 12px;
  color: var(--tg-primary);
}
html[data-site=landing] > body > .hero > .container > .headline > .text > h1 {
  font-size: 32px;
  color: var(--tg-primary);
}
html[data-site=landing] > body > .hero > .container > .headline > .text > h2 {
  font-weight: 500;
  font-size: 16px;
  color: var(--tg-primary);
}
html[data-site=landing] > body > .hero > .container > .headline > .info {
  flex-direction: column;
  display: flex;
  gap: 8px;
}
html[data-site=landing] > body > .hero > .container > .headline > .info > div {
  align-items: center;
  display: flex;
  gap: 8px;
}
html[data-site=landing] > body > .hero > .container > .headline > .info > div > i {
  color: var(--accent);
}
html[data-site=landing] > body > .hero > .container > .headline > .info > div > label {
  font-size: 12px;
  color: var(--tg-primary);
}
html[data-site=landing] > body > .hero > .container > .headline > .cta {
  align-items: center;
  display: flex;
  gap: 16px;
}
html[data-site=landing] > body > .hero > .container > .headline > .cta > button {
  background-color: transparent;
  border-radius: 4px;
  align-items: center;
  font-weight: 500;
  transition: 0.2s ease;
  font-size: 12px;
  display: flex;
  padding: 12px 32px 12px 32px;
  border: 2px solid var(--bg-primary);
  color: var(--bg-primary);
  gap: 8px;
  border: 2px solid var(--tg-primary);
  color: var(--tg-primary);
}
html[data-site=landing] > body > .hero > .container > .headline > .cta > button:hover {
  background-color: var(--bg-primary);
  cursor: pointer;
  color: var(--accent);
}
html[data-site=landing] > body > .hero > .container > .headline > .cta > button:hover {
  background-color: var(--tg-primary);
}
html[data-site=landing] > body > .hero > .container > .headline > .cta > a {
  text-decoration: none;
  transition: 0.2s ease;
  font-size: 12px;
  color: var(--tg-primary);
}
html[data-site=landing] > body > .hero > .container > .headline > .cta > a:hover {
  color: var(--accent);
}
html[data-site=landing] > body > .hero > .container > .readMore {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  grid-row: 3;
  padding: 32px 12vw;
  display: flex;
  gap: 8px;
}
html[data-site=landing] > body > .hero > .container > .readMore > .container {
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 8px;
}
html[data-site=landing] > body > .hero > .container > .readMore > .container > label {
  transition: 0.2s ease;
  font-size: 12px;
  color: var(--tg-primary);
}
html[data-site=landing] > body > .hero > .container > .readMore > .container > i {
  transition: 0.2s ease;
  font-size: 16px;
  color: var(--tg-primary);
}
html[data-site=landing] > body > .hero > .container > .readMore > .container:hover > label, html[data-site=landing] > body > .hero > .container > .readMore > .container:hover > i {
  cursor: pointer;
  color: var(--accent);
}
html[data-site=landing] > body > .services {
  flex-direction: column;
  padding: 8vh 12vw;
  display: flex;
  gap: 8vh;
}
html[data-site=landing] > body > .services > .headline {
  flex-direction: column;
  display: flex;
  gap: 4vh;
}
html[data-site=landing] > body > .services > .headline > .heading > h2 {
  font-weight: 700;
  font-size: 24px;
  color: var(--tg-primary);
}
html[data-site=landing] > body > .services > .headline > .heading > h3 {
  font-weight: 500;
  font-size: 16px;
  color: var(--tg-primary);
}
html[data-site=landing] > body > .services > .headline > p {
  font-weight: 400;
  font-size: 14px;
  color: var(--tg-secondary);
}
html[data-site=landing] > body > .services > .offers {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  gap: 32px;
}
html[data-site=landing] > body > .services > .offers > .offer {
  flex-direction: column;
  flex-basis: 31.95%;
  min-width: 0;
  display: flex;
  padding: 24px;
  gap: 16px;
}
html[data-site=landing] > body > .services > .offers > .offer > .headline > h4 {
  font-weight: 500;
  font-size: 16px;
  color: var(--tg-primary);
}
html[data-site=landing] > body > .services > .offers > .offer > .headline > h5 {
  font-weight: 300;
  font-size: 12px;
  color: var(--tg-primary);
}
html[data-site=landing] > body > .services > .offers > .offer > p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
  font-size: 14px;
  color: var(--tg-secondary);
}
html[data-site=landing] > body > .services > .offers > .offer > button {
  background-color: transparent;
  border-radius: 4px;
  align-items: center;
  font-weight: 500;
  transition: 0.2s ease;
  font-size: 12px;
  display: flex;
  padding: 12px 32px 12px 32px;
  border: 2px solid var(--bg-primary);
  color: var(--bg-primary);
  gap: 8px;
  border: 2px solid var(--tg-primary);
  align-self: flex-start;
  color: var(--tg-primary);
}
html[data-site=landing] > body > .services > .offers > .offer > button:hover {
  background-color: var(--bg-primary);
  cursor: pointer;
  color: var(--accent);
}
html[data-site=landing] > body > .services > .offers > .offer > button:hover {
  background-color: var(--tg-primary);
}/*# sourceMappingURL=index.css.map */